a:link,a:visited{
    text-decoration: none;
    color: #43bbd5;
}
p{
    color: #999;
    font-size: 12px;
    font-size: 1.2rem;
}
input,button,select{
    outline: none;
    border: none;
    background: none;
}
select{
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance:none;
}

.head{
    height: 41px;
    background: #43ccf0;
    position: relative;
    box-shadow: 0 1px 1px 1px #e8e8e8;
}
.head .larrow{
    font-family: "iconfont";
    font-size: 16px;
    font-size: 1.6rem;
    color: white;
    line-height: 41px;
    position: absolute;
    left: 6px;
}
.head p{
    text-align: center;
    line-height: 41px;
    color: white;
    font-family: "Microsoft YaHei";
    font-size: 15px;
    font-size: 1.5rem;
}


.process{
    height: 108px;
    background: white;
}
.process .processSon{
    height: 100%;
    margin: 0 35px;
    position: relative;
}
.process .identity{
    float: left;
    margin-top: 25px;
}
.process .identity .idicon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff79bc;
    position: relative;
    margin-bottom: 12px;
}
.process .identity .idicon .ident{
    font-family: "iconfont";
    font-size: 25px;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    left: 7.5px;
    top: 7.5px;
}
.process .identity .idicon .success{
    font-family: "iconfont";
    font-size: 20px;
    font-size: 2rem;
    color: deepskyblue;
    position: absolute;
    right: -9px;
    top: -6px;
}
.process .house{
    position: absolute;
    left: 50%;
    top: 23px;
    margin-left: -20px;
}
.process .house .hsicon{
    font-family: "iconfont";
    font-size: 40px;
    font-size: 4rem;
    color: #ff79bc;
    background: white;
    float: left;
    margin-bottom: 12px;
}
.process .auditing{
    position: absolute;
    right: 0;
    top: 25px;
}
.process .auditing .adicon{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #ffe4b0;
    position: relative;
    margin-bottom: 12px;
}
.process .auditing .adicon div{
    font-family: "iconfont";
    font-size: 25px;
    font-size: 2.5rem;
    color: white;
    position: absolute;
    left: 7.5px;
    top: 7.5px;
}
.process .arrow{
    position: absolute;
}
.process .arrow div{
    font-family: "iconfont";
    font-size: 50px;
    font-size: 5rem;
    line-height: 108px;
    margin-top: -10px;
    transform: scaleX(1.2);
}
.process .arrow:nth-child(2){
    color: #ffdeea;
    width: auto;
    height: 100%;
    left: 20%;
}
.process .arrow:nth-child(4){
    color: #ffe4b0;
    width: auto;
    height: 100%;
    right: 20%;
}
.process p{
    font-family: "Microsoft YaHei";
    font-size: 12px;
    font-size: 1.2rem;
    color: #caaa6b;
    text-align: center;
}




.content{
    height: 360px;
    margin-top: 11px;
    background: white;
    border-top: 1px solid #d8d8d8;
}
.content .cont{
    width: 100%;
    height: 44px;
    border-bottom: 1px solid #d8d8d8;
    line-height: 44px;
    position: relative;
}
.content .cont .contsp{
    width: 84px;
    height: 44px;
    float:left;
    text-align: right;
}
.content .cont span{
    font-size: 12px;
    font-size: 1.2rem;
    font-family: "Microsoft YaHei";
    color: #555;
}
.content .cont .contipt{
    width: auto;
    padding: 0 10px;
    margin-left: 95px;
    position: relative;
}
.triangle{
    width: 0;
    height: 0;
    border-top: 10px solid #ffd27c;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    position: absolute;
    right: 20px;
    top: 18px;
}
.yellow{
    width: 5px;
    height: 30px;
    position: absolute;
    left: 0px;
    background: linear-gradient(to right,#ffd27c,#ffd27c) no-repeat 0px 14px/2px 16px white;
}
.content .cont .contipt select,.content .cont .contipt input{
    width: 100%;
    height: 20px;
    margin: 12px 0px;
}
.content .cont .camera{
    font-family: "iconfont";
    font-size: 24px;
    font-size: 2.4rem;
    color: #43ccf0;
    position: absolute;
    right: 16px;
}


.agree{
    margin-top: 9px;
}
.agree input{
    visibility: hidden;
}
.agree .square{
    margin-left: 20px;
    width: 16px;
    height: 16px;
    background: white;
    border: 1px solid #999;
    border: 2px 1px;
    display: inline-block;
    float: left;
}
.agree span{
    font-size: 12px;
    font-size: 1.2rem;
    color: #999;
    margin: 2px 10px;
    display: block;
    float: left;
}


.commit{
    margin-top: 15px;
    margin-bottom: 18px;
}
.commit .btn{
    width: auto;
    height: 41px;
    margin: 0 20px;
}
.commit .btn button{
    height: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    background: #43ccf0;
    color: white;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 40px;
}
button:active{
    box-shadow: 1px 1px 4px 1px #43b2c8 inset;
}
button:nth-child(1){
    width: 30%;
}
button:nth-child(2){
    width: 65%;
    float: right;
}