*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
a{
    text-decoration: none;
}
a:link,a:visited{
    color: black;
}
li{
    list-style: none;
}
html,body{
    height: 100%;
    font-size: 62.5%;
    font-family: "Microsoft YaHei";
    background: #f7f7f7;
}