.main{
    width: 500px;
    height: 500px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -250px;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transform: rotateX(-30deg) rotateY(-45deg);
}
.square{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
    transform-style: preserve-3d;
/*    transform: perspective(1000px);*/
}
.top{
    width: 100px;
    height: 100px;
    background: #1e909a;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateX(90deg) translateZ(50px);
}
.face{
    width: 100px;
    height: 100px;
    background: #d53b33;
    position: absolute;
    left: 0;
    top: 0;
    transform: translateZ(50px);
}
.back{
    width: 100px;
    height: 100px;
    background: #e59c12;
    position: absolute;
    left: 0;
    top: 0;
    transform: rotateY(90deg) translateZ(50px);
}

/*middle*/
.square:nth-child(1){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateZ(100px);
    animation: tlmm 3s linear 0s infinite normal;
}
/*
.square:nth-child(2){
    margin-left: -50px;
    margin-top: -50px;
}
*/
.square:nth-child(3){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateZ(-100px);
    animation: trmm 3s linear 0s infinite normal;
}

.square:nth-child(4){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateZ(100px);
    animation: rmm1 3s linear 0s infinite normal;
}
.square:nth-child(5){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px);
    animation: rmm2 3s linear 0s infinite normal;
}
.square:nth-child(6){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateZ(-100px);
    animation: rmm3 3s linear 0s infinite normal;
}

.square:nth-child(7){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateZ(100px);
    animation: lmm1 3s linear 0s infinite normal;
}
.square:nth-child(8){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px);
    animation: lmm2 3s linear 0s infinite normal;
}
.square:nth-child(9){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateZ(-100px);
    animation: lmm3 3s linear 0s infinite normal;
}


/*bottom*/
.square:nth-child(10){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateY(100px) translateZ(100px);
    animation: tlmb 3s linear 0s infinite normal;
}
.square:nth-child(11){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateY(100px);
    animation: tmb 3s linear 0s infinite normal;
}
.square:nth-child(12){
    margin-left: -50px;
    margin-top: -50px;
    transform:  translateY(100px) translateZ(-100px);
    animation: trmb 3s linear 0s infinite normal;
}

.square:nth-child(13){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(100px) translateZ(100px);
    animation: rmb1 3s linear 0s infinite normal;
}
.square:nth-child(14){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(100px);
    animation: rmb2 3s linear 0s infinite normal;
}
.square:nth-child(15){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(100px) translateZ(-100px);
    animation: rmb3 3s linear 0s infinite normal;
}

.square:nth-child(16){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(100px) translateZ(100px);
    animation: lmb1 3s linear 0s infinite normal;
}
.square:nth-child(17){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(100px);
    animation: lmb2 3s linear 0s infinite normal;
}
.square:nth-child(18){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(100px) translateZ(-100px);
    animation: lmb3 3s linear 0s infinite normal;
}



/*top*/
.square:nth-child(19){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateY(-100px) translateZ(100px);
    animation: tlmt 3s linear 0s infinite normal;
}
.square:nth-child(20){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateY(-100px);
    animation: tmt 3s linear 0s infinite normal;
}
.square:nth-child(21){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateZ(-100px)  translateY(-100px);
    animation: trmt 3s linear 0s infinite normal;
}

.square:nth-child(22){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(-100px) translateZ(100px);
    animation: rmt1 3s linear 0s infinite normal;
}
.square:nth-child(23){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(-100px);
    animation: rmt2 3s linear 0s infinite normal;
}
.square:nth-child(24){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(100px) translateY(-100px) translateZ(-100px);
    animation: rmt3 3s linear 0s infinite normal;
}

.square:nth-child(25){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(-100px) translateZ(100px);
    animation: lmt1 3s linear 0s infinite normal;
}
.square:nth-child(26){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(-100px);
    animation: lmt2 3s linear 0s infinite normal;
}
.square:nth-child(27){
    margin-left: -50px;
    margin-top: -50px;
    transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    animation: lmt3 3s linear 0s infinite normal;
}



/*leftmovetop*/
@keyframes lmt1{
    0%{
        transform: translateX(-100px) translateY(-100px) translateZ(100px);
    }
    15%{
        transform: translateX(-200px) translateY(-100px) translateZ(100px);
    }
    30%{
        transform: translateX(-200px) translateY(-100px) translateZ(200px);
    }
    50%{
        transform: translateX(-200px) translateY(-200px) translateZ(200px);
    }
    75%{
        transform: translateX(-100px) translateY(-200px) translateZ(200px);
    }
    90%{
        transform: translateX(-100px) translateY(-200px) translateZ(100px);
    }
    100%{
        transform: translateX(-100px) translateY(-100px) translateZ(100px);
    }
}
@keyframes lmt2{
    0%{
        transform: translateX(-100px) translateY(-100px);
    }
    15%{
        transform: translateX(-200px) translateY(-100px);
    }
    30%{
        transform: translateX(-200px) translateY(-100px);
    }
    50%{
        transform: translateX(-200px) translateY(-200px);
    }
    75%{
        transform: translateX(-100px) translateY(-200px);
    }
    90%{
        transform: translateX(-100px) translateY(-200px);
    }
    100%{
        transform: translateX(-100px) translateY(-100px);
    }
}
@keyframes lmt3{
    0%{
        transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    }
    15%{
        transform: translateX(-200px) translateY(-100px) translateZ(-100px);
    }
    30%{
        transform: translateX(-200px) translateY(-100px) translateZ(-200px);
    }
    50%{
        transform: translateX(-200px) translateY(-200px) translateZ(-200px);
    }
    75%{
        transform: translateX(-100px) translateY(-200px) translateZ(-200px);
    }
    90%{
        transform: translateX(-100px) translateY(-200px) translateZ(-100px);
    }
    100%{
        transform: translateX(-100px) translateY(-100px) translateZ(-100px);
    }
}
/*leftmovemiddle*/
@keyframes lmm1{
    0%{
        transform: translateX(-100px) translateZ(100px);
    }
    15%{
        transform: translateX(-200px) translateZ(100px);
    }
    30%{
        transform: translateX(-200px) translateZ(200px);
    }
    50%{
        transform: translateX(-200px) translateZ(200px);
    }
    75%{
        transform: translateX(-100px) translateZ(200px);
    }
    90%{
        transform: translateX(-100px) translateZ(100px);
    }
    100%{
        transform: translateX(-100px) translateZ(100px);
    }
}
@keyframes lmm2{
    0%{
        transform: translateX(-100px) ;
    }
    15%{
        transform: translateX(-200px) ;
    }
    50%{
        transform: translateX(-200px) ;
    }
    75%{
       transform: translateX(-100px) ; 
    }
    100%{
        transform: translateX(-100px) ;
    }
}
@keyframes lmm3{
    0%{
        transform: translateX(-100px)  translateZ(-100px);
    }
    15%{
        transform: translateX(-200px) translateZ(-100px);
    }
    30%{
        transform: translateX(-200px) translateZ(-200px);
    }
    50%{
        transform: translateX(-200px) translateZ(-200px);
    }
    75%{
        transform: translateX(-100px) translateZ(-200px);
    }
    90%{
        transform: translateX(-100px) translateZ(-100px);
    }
    100%{
        transform: translateX(-100px) translateZ(-100px);
    }
}
/*leftmovebottom*/
@keyframes lmb1{
    0%{
        transform: translateX(-100px) translateY(100px) translateZ(100px);
    }
    15%{
        transform: translateX(-200px) translateY(100px) translateZ(100px);
    }
    30%{
        transform: translateX(-200px) translateY(100px) translateZ(200px);
    }
    50%{
        transform: translateX(-200px) translateY(200px) translateZ(200px);
    }
    75%{
        transform: translateX(-100px) translateY(200px) translateZ(200px);
    }
    90%{
        transform: translateX(-100px) translateY(200px) translateZ(100px);
    }
    100%{
        transform: translateX(-100px) translateY(100px) translateZ(100px);
    }
}
@keyframes lmb2{
    0%{
        transform: translateX(-100px) translateY(100px);
    }
    15%{
        transform: translateX(-200px) translateY(100px);
    }
    30%{
        transform: translateX(-200px) translateY(100px);
    }
    50%{
        transform: translateX(-200px) translateY(200px);
    }
    75%{
        transform: translateX(-100px) translateY(200px);
    }
    90%{
        transform: translateX(-100px) translateY(200px);
    }
    100%{
        transform: translateX(-100px) translateY(100px);
    }
}
@keyframes lmb3{
    0%{
        transform: translateX(-100px) translateY(100px) translateZ(-100px);
    }
    15%{
        transform: translateX(-200px) translateY(100px) translateZ(-100px);
    }
    30%{
        transform: translateX(-200px) translateY(100px) translateZ(-200px);
    }
    50%{
        transform: translateX(-200px) translateY(200px) translateZ(-200px);
    }
    75%{
        transform: translateX(-100px) translateY(200px) translateZ(-200px);
    }
    90%{
        transform: translateX(-100px) translateY(200px) translateZ(-100px);
    }
    100%{
        transform: translateX(-100px) translateY(100px) translateZ(-100px);
    }
}



/*rightmovetop*/
@keyframes rmt1{
    0%{
        transform: translateX(100px) translateY(-100px) translateZ(100px);
    }
    15%{
        transform: translateX(200px) translateY(-100px) translateZ(100px);
    }
    30%{
        transform: translateX(200px) translateY(-100px) translateZ(200px);
    }
    50%{
        transform: translateX(200px) translateY(-200px) translateZ(200px);
    }
    75%{
        transform: translateX(100px) translateY(-200px) translateZ(200px);
    }
    90%{
        transform: translateX(100px) translateY(-200px) translateZ(100px);
    }
    100%{
        transform: translateX(100px) translateY(-100px) translateZ(100px);
    }
}
@keyframes rmt2{
    0%{
        transform: translateX(100px) translateY(-100px);
    }
    15%{
        transform: translateX(200px) translateY(-100px);
    }
    30%{
        transform: translateX(200px) translateY(-100px);
    }
    50%{
        transform: translateX(200px) translateY(-200px);
    }
    75%{
        transform: translateX(100px) translateY(-200px);
    }
    90%{
        transform: translateX(100px) translateY(-200px);
    }
    100%{
        transform: translateX(100px) translateY(-100px);
    }
}
@keyframes rmt3{
    0%{
        transform: translateX(100px) translateY(-100px) translateZ(-100px);
    }
    15%{
        transform: translateX(200px) translateY(-100px) translateZ(-100px);
    }
    30%{
        transform: translateX(200px) translateY(-100px) translateZ(-200px);
    }
    50%{
        transform: translateX(200px) translateY(-200px) translateZ(-200px);
    }
    75%{
        transform: translateX(100px) translateY(-200px) translateZ(-200px);
    }
    90%{
        transform: translateX(100px) translateY(-200px) translateZ(-100px);
    }
    100%{
        transform: translateX(100px) translateY(-100px) translateZ(-100px);
    }
}
/*rightmovemiddle*/
@keyframes rmm1{
    0%{
        transform: translateX(100px) translateZ(100px);
    }
    15%{
        transform: translateX(200px) translateZ(100px);
    }
    30%{
        transform: translateX(200px) translateZ(200px);
    }
    50%{
        transform: translateX(200px) translateZ(200px);
    }
    75%{
        transform: translateX(100px) translateZ(200px);
    }
    90%{
        transform: translateX(100px) translateZ(100px);
    }
    100%{
        transform: translateX(100px) translateZ(100px);
    }
}
@keyframes rmm2{
    0%{
        transform: translateX(100px) ;
    }
    15%{
        transform: translateX(200px) ;
    }
    50%{
        transform: translateX(200px) ;
    }
    75%{
        transform: translateX(100px) ;
    }
    100%{
        transform: translateX(100px) ;
    }
}
@keyframes rmm3{
    0%{
        transform: translateX(100px) translateZ(-100px);
    }
    15%{
        transform: translateX(200px) translateZ(-100px);
    }
    30%{
        transform: translateX(200px) translateZ(-200px);
    }
    50%{
        transform: translateX(200px) translateZ(-200px);
    }
    75%{
        transform: translateX(100px) translateZ(-200px);
    }
    90%{
        transform: translateX(100px) translateZ(-100px);
    }
    100%{
        transform: translateX(100px) translateZ(-100px);
    }
}
/*rightmovebottom*/
@keyframes rmb1{
    0%{
        transform: translateX(100px) translateY(100px) translateZ(100px);
    }
    15%{
        transform: translateX(200px) translateY(100px) translateZ(100px);
    }
    30%{
        transform: translateX(200px) translateY(100px) translateZ(200px);
    }
    50%{
        transform: translateX(200px) translateY(200px) translateZ(200px);
    }
    75%{
        transform: translateX(100px) translateY(200px) translateZ(200px);
    }
    90%{
        transform: translateX(100px) translateY(200px) translateZ(100px);
    }
    100%{
        transform: translateX(100px) translateY(100px) translateZ(100px);
    }
}
@keyframes rmb2{
    0%{
        transform: translateX(100px) translateY(100px);
    }
    15%{
        transform: translateX(200px) translateY(100px);
    }
    30%{
        transform: translateX(200px) translateY(100px);
    }
    50%{
        transform: translateX(200px) translateY(200px);
    }
    75%{
        transform: translateX(100px) translateY(200px);
    }
    90%{
        transform: translateX(100px) translateY(200px);
    }
    100%{
        transform: translateX(100px) translateY(100px);
    }
}
@keyframes rmb3{
    0%{
        transform: translateX(100px) translateY(100px) translateZ(-100px);
    }
    15%{
        transform: translateX(200px) translateY(100px) translateZ(-100px);
    }
    30%{
        transform: translateX(200px) translateY(100px) translateZ(-200px);
    }
    50%{
        transform: translateX(200px) translateY(200px) translateZ(-200px);
    }
    75%{
        transform: translateX(100px) translateY(200px) translateZ(-200px);
    }
    90%{
        transform: translateX(100px) translateY(200px) translateZ(-100px);
    }
    100%{
        transform: translateX(100px) translateY(100px) translateZ(-100px);
    }
}


/*twicerightmovetop*/
@keyframes trmt{
    0%{
        transform:  translateY(-100px) translateZ(-100px);
    }
    15%{
        transform:  translateY(-100px) translateZ(-100px);
    }
    30%{
        transform:  translateY(-100px) translateZ(-200px);
    }
    50%{
        transform:  translateY(-200px) translateZ(-200px);
    }
    75%{
        transform:  translateY(-200px) translateZ(-200px);
    }
    90%{
        transform:  translateY(-200px) translateZ(-100px);
    }
    100%{
        transform:  translateY(-100px) translateZ(-100px);
    }
}
/*twicerightmovemiddle*/
@keyframes trmm{
    0%{
        transform: translateZ(-100px);
    }
    15%{
        transform: translateZ(-100px);
    }
    30%{
        transform: translateZ(-200px);
    }
    75%{
        transform: translateZ(-200px);
    }
    90%{
        transform: translateZ(-100px);
    }
    100%{
        transform: translateZ(-100px);
    }
}
/*twicerightmovebottom*/
@keyframes trmb{
    0%{
        transform:  translateY(100px) translateZ(-100px);
    }
    15%{
        transform:  translateY(100px) translateZ(-100px);
    }
    30%{
        transform:  translateY(100px) translateZ(-200px);
    }
    50%{
        transform:  translateY(200px) translateZ(-200px);
    }
    75%{
        transform:  translateY(200px) translateZ(-200px);
    }
    90%{
        transform:  translateY(200px) translateZ(-100px);
    }
    100%{
        transform:  translateY(100px) translateZ(-100px);
    }
}

/*twiceleftmovetop*/
@keyframes tlmt{
    0%{
        transform:  translateY(-100px) translateZ(100px);
    }
    15%{
        transform:  translateY(-100px) translateZ(100px);
    }
    30%{
        transform:  translateY(-100px) translateZ(200px);
    }
    50%{
        transform:  translateY(-200px) translateZ(200px);
    }
    75%{
        transform:  translateY(-200px) translateZ(200px);
    }
    90%{
        transform:  translateY(-200px) translateZ(100px);
    }
    100%{
        transform:  translateY(-100px) translateZ(100px);
    }
}
/*twicerightmovemiddle*/
@keyframes tlmm{
    0%{
        transform: translateZ(100px);
    }
    15%{
        transform: translateZ(100px);
    }
    30%{
        transform: translateZ(200px);
    }
    75%{
        transform: translateZ(200px);
    }
    90%{
        transform: translateZ(100px);
    }
    100%{
        transform: translateZ(100px);
    }
}
/*twiceleftmovebottom*/
@keyframes tlmb{
    0%{
        transform:  translateY(100px) translateZ(100px);
    }
    15%{
        transform:  translateY(100px) translateZ(100px);
    }
    30%{
        transform:  translateY(100px) translateZ(200px);
    }
    50%{
        transform:  translateY(200px) translateZ(200px);
    }
    75%{
        transform:  translateY(200px) translateZ(200px);
    }
    90%{
        transform:  translateY(200px) translateZ(100px);
    }
    100%{
        transform:  translateY(100px) translateZ(100px);
    }
}


/*thirdmovetop*/
@keyframes tmt{
    0%{
        transform: translateY(-100px);
    }
    30%{
        transform: translateY(-100px);
    }
    50%{
        transform: translateY(-200px);
    }
    90%{
        transform: translateY(-200px);
    }
    100%{
        transform: translateY(-100px);
    }
}
/*thirdmovebottom*/
@keyframes tmb{
    0%{
        transform: translateY(100px);
    }
    30%{
        transform: translateY(100px);
    }
    50%{
        transform: translateY(200px);
    }
    90%{
        transform: translateY(200px);
    }
    100%{
        transform: translateY(100px);
    }
}