#elm {
  background: #fff;
  margin: 0 auto; }
  #elm #toper {
    height: 130px;
    background: linear-gradient(to right, #01aaff, #0086ff);
    position: fixed;
    top: 0;
    z-index: 10; }
    #elm #toper .tips {
      margin-top: 20px;
      height: 36px;
      line-height: 36px; }
      #elm #toper .tips p {
        font-size: 18px;
        font-size: 1.8rem;
        color: #fff;
        font-weight: bold;
        margin-left: 20px; }
        #elm #toper .tips p span {
          margin-right: 10px; }
      #elm #toper .tips div {
        float: right;
        margin-right: 10px;
        font-size: 16px;
        font-size: 1.6rem;
        color: #fff; }
      #elm #toper .tips div:nth-child(1) {
        margin-right: 25px; }
    #elm #toper .search {
      height: 36px;
      margin: 10px 15px;
      background: #fff;
      line-height: 36px; }
      #elm #toper .search p {
        text-align: center;
        font-size: 12px;
        font-size: 1.2rem;
        color: #666; }
    #elm #toper .list ul {
      margin: 0 10px; }
      #elm #toper .list ul li {
        width: 14%;
        float: left;
        text-align: center;
        font-size: 11px;
        font-size: 1.1rem;
        color: #fff; }
  #elm #content {
    margin-top: 130px;
    margin-bottom: 50px; }
    #elm #content div:nth-child(1) img {
      width: 100%; }
    #elm #content .swiper-wrapper {
      height: 200px; }
      #elm #content .swiper-wrapper .swiper-slide {
        height: 200px; }
        #elm #content .swiper-wrapper .swiper-slide .pic {
          width: 25%;
          height: 100px;
          float: left;
          text-align: center; }
          #elm #content .swiper-wrapper .swiper-slide .pic img {
            width: 53px;
            height: 50px;
            margin-top: 20px; }
          #elm #content .swiper-wrapper .swiper-slide .pic p {
            font-size: 11px;
            font-size: 1.1rem;
            color: #666; }
    #elm #content #adv {
      background: #fff; }
      #elm #content #adv .advert {
        margin: 0 9px; }
        #elm #content #adv .advert img {
          width: 100%;
          margin-top: 14px;
          margin-bottom: 14px; }
        #elm #content #adv .advert > div:nth-child(2) img {
          margin: 0 0 3px 0; }
        #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) {
          width: 49.5%;
          float: left; }
          #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div {
            width: 90%;
            height: 0;
            margin-left: 16px;
            transform: translateY(18px); }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div p {
              margin-bottom: 8px; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div p:nth-child(1) {
              font-size: 16px;
              font-size: 1.6rem;
              color: #e81919; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div p:nth-child(2) {
              font-size: 12px;
              font-size: 1.2rem;
              color: #666; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div p:nth-child(3) {
              font-size: 10px;
              font-size: 1rem;
              color: #000; }
              #elm #content #adv .advert > div:nth-child(2) div:nth-child(1) div p:nth-child(3) span {
                color: #e81919; }
        #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) {
          width: 49.5%;
          float: right; }
          #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) div {
            width: 90%;
            height: 0;
            margin-left: 16px;
            transform: translateY(18px); }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) div p {
              margin-bottom: 8px; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) div p:nth-child(1) {
              font-size: 16px;
              font-size: 1.6rem;
              color: #000; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) div p:nth-child(2) {
              font-size: 12px;
              font-size: 1.2rem;
              color: #666; }
            #elm #content #adv .advert > div:nth-child(2) div:nth-child(2) div p:nth-child(3) {
              font-size: 10px;
              font-size: 1rem;
              color: #b48a6b; }
        #elm #content #adv .advert > div:nth-child(3) {
          width: 100%; }
          #elm #content #adv .advert > div:nth-child(3) img {
            margin: 0;
            margin-bottom: 9px; }
          #elm #content #adv .advert > div:nth-child(3) > div {
            width: 33%;
            float: left; }
            #elm #content #adv .advert > div:nth-child(3) > div div {
              height: 0;
              text-align: center;
              transform: translateY(20px); }
              #elm #content #adv .advert > div:nth-child(3) > div div h1 {
                font-size: 16px;
                font-size: 1.6rem;
                margin-bottom: 8px; }
              #elm #content #adv .advert > div:nth-child(3) > div div span {
                height: 16px;
                line-height: 16px;
                font-size: 12px;
                font-size: 1.2rem;
                color: #666;
                border: 1px solid #666;
                border-radius: 4px;
                border-width: thin;
                padding: 0 4px; }
          #elm #content #adv .advert > div:nth-child(3) > div:nth-child(2) {
            margin-left: 2px; }
          #elm #content #adv .advert > div:nth-child(3) > div:nth-child(3) {
            float: right; }
    #elm #content .choice {
      width: 100%;
      height: 166px;
      background: #fff;
      margin-top: 10px; }
      #elm #content .choice div:nth-child(1) {
        height: 30px; }
        #elm #content .choice div:nth-child(1) h1 {
          float: left;
          font-size: 15px;
          font-size: 1.5rem;
          color: #998c60;
          padding-top: 10px;
          padding-left: 12px; }
        #elm #content .choice div:nth-child(1) p {
          float: right;
          font-size: 11px;
          font-size: 1.1rem;
          color: #666;
          padding-top: 15px;
          padding-right: 10px; }
      #elm #content .choice .chos {
        width: 25%;
        height: 135px;
        float: left;
        text-align: center; }
        #elm #content .choice .chos img {
          margin-top: 10px;
          width: 60px;
          height: 60px; }
        #elm #content .choice .chos h2 {
          font-size: 12px;
          font-size: 1.2rem;
          margin-top: 8px;
          margin-bottom: 3px; }
        #elm #content .choice .chos span {
          border: 1px solid #54cfee;
          font-size: 10px;
          font-size: 1rem;
          color: #54cfee;
          border-width: thin;
          padding: 0 3px; }
    #elm #content .shoppe {
      margin-top: 10px;
      background: #fff; }
      #elm #content .shoppe div:nth-child(1) {
        height: 30px; }
        #elm #content .shoppe div:nth-child(1) h2 {
          font-size: 12px;
          font-size: 1.2rem;
          padding-left: 10px;
          padding-top: 14px; }
      #elm #content .shoppe .shoppes {
        border-bottom: 1px solid #e6e6e6;
        border-width: thin; }
        #elm #content .shoppe .shoppes .logo {
          width: 82px;
          float: left; }
          #elm #content .shoppe .shoppes .logo img:nth-child(1) {
            width: 60px;
            margin: 0 11px; }
          #elm #content .shoppe .shoppes .logo img:nth-child(2) {
            width: 37px;
            transform: translateY(-80px); }
        #elm #content .shoppe .shoppes .conts {
          margin-top: 18px;
          width: 100%; }
          #elm #content .shoppe .shoppes .conts .descp {
            height: 72px;
            margin-left: 82px; }
            #elm #content .shoppe .shoppes .conts .descp p {
              margin-bottom: 10px; }
            #elm #content .shoppe .shoppes .conts .descp p:nth-child(1) {
              font-size: 15px;
              font-size: 1.5rem;
              font-weight: bold; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(1) .r {
                float: right;
                margin-right: 10px; }
            #elm #content .shoppe .shoppes .conts .descp p:nth-child(2) {
              font-size: 10px;
              font-size: 1rem;
              color: #666; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(2) .r {
                float: right; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(2) .r:nth-child(4) {
                width: 44px;
                height: 16px;
                margin: 0 10px 0 4px;
                line-height: 16px;
                text-align: center;
                background: #009cff;
                color: #fff;
                border-radius: 2px; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(2) .r:nth-child(5) {
                padding: 0 3px;
                height: 16px;
                line-height: 16px;
                border: .5px solid #009cff;
                border-radius: 2px;
                color: #009cff;
                text-align: center; }
            #elm #content .shoppe .shoppes .conts .descp p:nth-child(3) {
              font-size: 10px;
              font-size: 1rem;
              color: #666; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(3) .l {
                border-right: 1px solid #ececec;
                padding-right: 3px; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(3) .r {
                float: right; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(3) .r:nth-child(4) {
                border-left: 1px solid #ececece;
                padding-left: 3px;
                margin-right: 10px; }
              #elm #content .shoppe .shoppes .conts .descp p:nth-child(3) .r:nth-child(5) {
                border-right: 1px solid #ececec;
                padding-right: 3px; }
          #elm #content .shoppe .shoppes .conts .cheep {
            margin-left: 82px;
            margin-bottom: 10px; }
            #elm #content .shoppe .shoppes .conts .cheep ul {
              border-top: 1px dashed #ddd; }
              #elm #content .shoppe .shoppes .conts .cheep ul li {
                font-size: 10px;
                font-size: 1rem;
                color: #666;
                padding-top: 7px; }
            #elm #content .shoppe .shoppes .conts .cheep div {
              float: right;
              margin-right: 10px;
              margin-top: 7px;
              font-size: 10px;
              font-size: 1rem;
              color: #999; }
  #elm #pubbtm {
    height: 50px;
    background: #f6f6f6;
    border-top: 1px solid #c8c8c8;
    position: fixed;
    bottom: 0; }
    #elm #pubbtm .pubmode {
      width: 25%;
      height: 50px;
      float: left;
      text-align: center; }
      #elm #pubbtm .pubmode p {
        font-size: 10px;
        font-size: 1rem;
        color: #818181; }
      #elm #pubbtm .pubmode .discover, #elm #pubbtm .pubmode .takeout, #elm #pubbtm .pubmode .order, #elm #pubbtm .pubmode .me {
        margin-top: 7px;
        font-family: "iconfont";
        font-size: 20px;
        font-size: 2rem;
        color: #818181; }
      #elm #pubbtm .pubmode .takeout {
        color: #0094ff; }
      #elm #pubbtm .pubmode .tkp {
        color: #0094ff; }

/*# sourceMappingURL=index.css.map */
