#elm{
    background: #f5f5f5;
    margin: 0 auto;
    #toper{
        height: 56px;
        position: fixed;
        top: 0;
        .top{
            height: 56px;
            line-height: 56px;
            background: linear-gradient(to right,#00aaff,#0187ff);
            div{
                font-family: "iconfont";
                font-size: 20px;
                font-size: 2rem;
                color: #fff;
            }
            div:nth-child(1){
                margin-right: 20px;
                float: right;
            }
            div:nth-child(2){
                margin-left: 20px;
            }
        }
    }
    #title{
        margin-top: 56px;
        height: 218px;
        background: #fff;
        text-align: center;
        .logo{
            width: 80px;
            height: 80px;
            border-radius: 40px;
            background: url(../images/logo.jpg) center center/80px 80px no-repeat;
            margin: 0 auto;
            transform: translateY(-25px);
            box-shadow: 0 -1px 1px 1px #f9f9f9;
        }
        p{
            margin-top: -20px;
            span{
                background: linear-gradient(to right,#00aaff,#0187ff);
                border-radius: 2px;
                color: #fff;
                font-size: 10px;
                font-size: 1rem;
                padding: 0 3px;
            }
        }
        p:nth-child(3){
            font-size: 10px;
            font-size: 1rem;
            color: #3190e8;
            margin-top: 5px;
        }
        h1{
            font-size: 20px;
            font-size: 2rem;
            margin-top: 15px;
        }
        p:nth-child(5){
            font-size: 12px;
            font-size: 1.2rem;
            color: #999;
            margin-top: 5px;
        }
        div:nth-child(6){
            margin: 15px 20px 0;
            button:nth-child(1){
                margin: 0 auto;
                width: 105px;
                height: 32px;
                background: #fff;
                border: 1px solid #cfcfcf;
                border-radius: 4px;
                color: #666;
            }
            button:nth-child(2){
                width: 155px;
                height: 32px;
                background: #ff5339;
                border-radius: 4px;
                color: #fff;
            }
        }
    }
    
    #content{
        &>div:nth-child(1){
            margin: 8px;
            background: #fff;
            height: 273px;
            &>div{
                height: 52px;
                margin: 0 15px;
                line-height: 52px;
                img{
                    width: 24px;
                    height: 24px;
                    float: left;
                    margin-right: 10px;
                    margin-top: 14px;
                }
                h1{
                    font-size: 14px;
                    font-size: 1.4rem;
                }
                &>span{
                    float: right;
                    font-size: 10px;
                    font-size: 1rem;
                    color: #bbb;
                }
            }
            &>div:nth-child(2){
                height: 165px;
                border-top: 3px solid #eee;
                border-bottom: 3px solid #eee;
                &>div{
                    height: 41px;
                    border-top: 1px dashed #eee;
                    border-width: thin;
                    line-height: 40px;
                    span{
                        float: left;
                        font-size: 12px;
                        font-size: 1.2rem;
                    }
                    p{
                        float: left;
                        font-size: 12px;
                        font-size: 1.2rem;
                    }
                    .r{
                        float: right;
                        font-size: 10px;
                        font-size: 1rem;
                    }
                    .mr{
                        margin-right: 24px;
                    }
                }
                &>div:nth-child(1){
                    border-top-style: solid;
                    margin-top: 2px;
                }
            }
            .call{
                margin-top: 2px;
                height: 51px;
                line-height: 50px;
                border-top: 1px solid #eee;
                border-width: thin;
                p{
                    font-size: 12px;
                    font-size: 1.2rem;
                    color: #4da9ff;
                    font-weight: bold;
                }
                .r{
                    float: right;
                    font-size: 14px;
                    font-size: 1.4rem;
                    color: #000;
                    span{
                        font-size: 13px;
                        font-size: 1.3rem;
                        margin-right: 8px;
                    }
                }
            }
        }
        &>div:nth-child(2){
            height: 216px;
            background: #fff;
            margin: 0 8px;
            &>div{
                margin: 0 8px;
                &>div{
                    height: 48px;
                    line-height: 48px;
                    margin-left: 8px;
                    font-size: 14px;
                    font-size: 1.4rem;
                }
                h1{
                    font-size: 14px;
                    font-size: 1.4rem;
                }
                .r{
                    font-size: 12px;
                    font-size: 1.2rem;
                    color: #7d7d7d;
                    float: right;
                }
                &>div:nth-child(3){
                    height: 72px;
                    border-width: 1px 0;
                    border-style: dashed;
                    border-color: #eee;
                    &>span:nth-child(2){
                        margin-top: -25px;    
                    }
                }
            }
        }
        &>div:nth-child(3){
            height: 196px;
            margin: 8px;
            background: #fff;
            &>div{
                margin: 0 8px;
                &>div{
                    height: 48px;
                    line-height: 48px;
                    margin-left: 8px;
                    font-size: 14px;
                    font-size: 1.4rem;
                }
                h1{
                    font-size: 14px;
                    font-size: 1.4rem;
                }
                .r{
                    font-size: 12px;
                    font-size: 1.2rem;
                    color: #7d7d7d;
                    float: right;
                }
                &>div:nth-child(3){
                    height: 52px;
                    border-width: 1px 0;
                    border-style: dashed;
                    border-color: #eee;
                }
                .b{
                    color: #2b99ff;
                }
            }
        }
    }
}