*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
html,body{
    height: 100%;
    font-family: "Microsoft YaHei";
    font-size: 62.5%;
    margin: 0 auto;
    background: #f5f5f5;
}
a{
    text-decoration: none;
}
a:link,a:visited,a:hover{
    color: #000;
}
ul,ol,li{
    list-style: none;
}

@media screen and (min-width:768px){
    #elm,#toper,#pubbtm,.footer{
        width: 768px;
    }
}
@media screen and (max-width:320px){
    #elm,#toper,#pubbtm,.footer{
        width: 320px;
    }
}


/*public error*/
.err{
    height: 43px;
    border-radius: 8px;
    background: rgba(133,133,133,.5);
    position: absolute;
    bottom: 60px;
    left: 50%;
    line-height: 43px;
    display: none;
}
.err p{
    font-size: 11px;
    font-size: 1.1rem;
    color: #fff;
    text-align: center;
    margin: 0 9px;
    letter-spacing: 1px;
}
