#elm{
    height: 100%;
    background: #fff;
    margin: 0 auto;
    #mask{
        width: 768px;
        margin-top: 101px;
        height: 100%;
        position: fixed;
        background: rgba(111,111,111,.4);
        z-index: 1;
        display: none;
    }
    #toper{
        height: 144px;
        background: #009cff;
        position: fixed;
        top: 0;
        z-index: 3;
        .title{
            width: auto;
            height: 56px;
            line-height: 56px;
            font-size: 16px;
            font-size: 1.6rem;
            color: white;
            margin-left: 20px;
            .arrow{
                font-family: "iconfont";
                font-size: 17px;
                font-size: 1.7rem;
                color: white;
                margin-right: 24px;
                float: left;
            }
            p{
                float: left;
            }
            .search{
                font-family: "iconfont";
                font-size: 17px;
                font-size: 1.7rem;
                color: white;
                float: right;
                margin-right: 12px;
            }
        }
        .nav{
            height: 44px;
            border-bottom: 1px solid #eee;
            background: #fff;
            ul{
                height: 44px;
                line-height: 44px;
                li{
                    width: 25%;
                    float: left;
                    text-align: center;
                    font-size: 13px;
                    font-size: 1.3rem;
                    color: #666;
                }
                li:nth-child(1){
                    color: #333;
                    font-weight: bold;
                    span{
                        
                    }
                }
                li:nth-child(4){
                    color: #333;
                    font-weight: bold;
                    span{
                        
                    }
                }
            }
        }
        .cover{
            width: 100%;
            height: 180px;
            background: #fff;
            display: none;
            position: fixed;
            z-index: 3;
            ul{
                font-size: 14px;
                font-size: 1.4rem;
                margin-left: 22px;
                li{
                    padding-bottom: 21px;
                }
                li:nth-child(1){
                    padding-top: 20px;
                    span{
                        float: right;
                        margin-right: 16px;
                    }
                }
            }
        }
        .category{
            height: 44px;
            border-bottom: 1px solid #eee;
            background: #fff;
            z-index: 1;
            ul{
                width: 100%;
                height: 44px;
                position: fixed;
            overflow: hidden;
                z-index: 1;
                li{
                    margin-top: 5px;
                    padding: 0 13px;
                    margin-right: 8px;
                    height: 33px;
                    line-height: 33px;
                    background: #f7f7f7;
                    border-radius: 4px;
                    float: left;
                    font-size: 13px;
                    font-size: 1.3rem;
                    color: #7e7e7e;
                }
                li:nth-child(1){
                    margin-left: 10px;
                }
            }
        }
    }
    
    #content{
        height: auto;
        margin-top: 144px;
        .shoppes{
            .logo{
                width: 82px;
                float: left;
                img:nth-child(1){
                    width: 60px;
                    margin: 15px 11px;
                }
                img:nth-child(2){
                    width: 37px;
                    transform: translateY(-90px);
                }
            }
            .conts{
                transform: translateY(18px);
                z-index: 1;
                width: 100%;
                .descp{
                    height: 72px;
                    margin-left: 82px;
                    p{
                        margin-bottom: 10px;
                    }
                    p:nth-child(1){
                        font-size: 15px;
                        font-size: 1.5rem;
                        font-weight: bold;
                        .r{
                            float: right;
                        }
                    }
                    p:nth-child(2){
                        font-size: 10px;
                        font-size: 1rem;
                        color: #666;
                        .r{
                            float: right;
                        }
                        .r:nth-child(4){
                            width: 44px;
                            height: 16px;
                            margin: 0 10px 0 4px;
                            line-height: 16px;
                            text-align: center;
                            background: #009cff;
                            color: #fff;
                            border-radius: 2px;
                        }
                        .r:nth-child(5){
                            padding: 0 3px;
                            height: 16px;
                            line-height: 16px;
                            border: .5px solid #009cff;
                            border-radius: 2px;
                            color: #009cff;
                            text-align: center;
                        }
                    }
                    p:nth-child(3){
                        font-size: 10px;
                        font-size: 1rem;
                        color: #666;
                        .l{
                            border-right: 1px solid #ececec;
                            padding-right: 3px;
                        }
                        .r{
                            float: right;
                        }
                        .r:nth-child(4){
                            border-left: 1px solid #ececece;
                            padding-left: 3px;
                        }
                        .r:nth-child(5){
                            border-right: 1px solid #ececec;
                            padding-right: 3px;
                        }
                    }
                }
                .cheep{
                    margin-left: 82px;
                    ul{
                        border-top: 1px dashed #ddd;
                        li{
                            font-size: 10px;
                            font-size: 1rem;
                            color: #666;
                            padding-top: 7px;
                        }
                    }
                    div{
                        float: right;
                        margin-top: 7px;
                        font-size: 10px;
                        font-size: 1rem;
                        color: #999;
                    }
                }
            }
        }
    }
}