#elm {
  height: 100%;
  background: #fff;
  margin: 0 auto; }
  #elm #mask {
    width: 768px;
    margin-top: 101px;
    height: 100%;
    position: fixed;
    background: rgba(111, 111, 111, 0.4);
    z-index: 1;
    display: none; }
  #elm #toper {
    height: 144px;
    background: #009cff;
    position: fixed;
    top: 0;
    z-index: 3; }
    #elm #toper .title {
      width: auto;
      height: 56px;
      line-height: 56px;
      font-size: 16px;
      font-size: 1.6rem;
      color: white;
      margin-left: 20px; }
      #elm #toper .title .arrow {
        font-family: "iconfont";
        font-size: 17px;
        font-size: 1.7rem;
        color: white;
        margin-right: 24px;
        float: left; }
      #elm #toper .title p {
        float: left; }
      #elm #toper .title .search {
        font-family: "iconfont";
        font-size: 17px;
        font-size: 1.7rem;
        color: white;
        float: right;
        margin-right: 12px; }
    #elm #toper .nav {
      height: 44px;
      border-bottom: 1px solid #eee;
      background: #fff; }
      #elm #toper .nav ul {
        height: 44px;
        line-height: 44px; }
        #elm #toper .nav ul li {
          width: 25%;
          float: left;
          text-align: center;
          font-size: 13px;
          font-size: 1.3rem;
          color: #666; }
        #elm #toper .nav ul li:nth-child(1) {
          color: #333;
          font-weight: bold; }
        #elm #toper .nav ul li:nth-child(4) {
          color: #333;
          font-weight: bold; }
    #elm #toper .cover {
      width: 100%;
      height: 180px;
      background: #fff;
      display: none;
      position: fixed;
      z-index: 3; }
      #elm #toper .cover ul {
        font-size: 14px;
        font-size: 1.4rem;
        margin-left: 22px; }
        #elm #toper .cover ul li {
          padding-bottom: 21px; }
        #elm #toper .cover ul li:nth-child(1) {
          padding-top: 20px; }
          #elm #toper .cover ul li:nth-child(1) span {
            float: right;
            margin-right: 16px; }
    #elm #toper .category {
      height: 44px;
      border-bottom: 1px solid #eee;
      background: #fff;
      z-index: 1; }
      #elm #toper .category ul {
        width: 100%;
        height: 44px;
        position: fixed;
        overflow: hidden;
        z-index: 1; }
        #elm #toper .category ul li {
          margin-top: 5px;
          padding: 0 13px;
          margin-right: 8px;
          height: 33px;
          line-height: 33px;
          background: #f7f7f7;
          border-radius: 4px;
          float: left;
          font-size: 13px;
          font-size: 1.3rem;
          color: #7e7e7e; }
        #elm #toper .category ul li:nth-child(1) {
          margin-left: 10px; }
  #elm #content {
    height: auto;
    margin-top: 144px; }
    #elm #content .shoppes .logo {
      width: 82px;
      float: left; }
      #elm #content .shoppes .logo img:nth-child(1) {
        width: 60px;
        margin: 15px 11px; }
      #elm #content .shoppes .logo img:nth-child(2) {
        width: 37px;
        transform: translateY(-90px); }
    #elm #content .shoppes .conts {
      transform: translateY(18px);
      z-index: 1;
      width: 100%; }
      #elm #content .shoppes .conts .descp {
        height: 72px;
        margin-left: 82px; }
        #elm #content .shoppes .conts .descp p {
          margin-bottom: 10px; }
        #elm #content .shoppes .conts .descp p:nth-child(1) {
          font-size: 15px;
          font-size: 1.5rem;
          font-weight: bold; }
          #elm #content .shoppes .conts .descp p:nth-child(1) .r {
            float: right; }
        #elm #content .shoppes .conts .descp p:nth-child(2) {
          font-size: 10px;
          font-size: 1rem;
          color: #666; }
          #elm #content .shoppes .conts .descp p:nth-child(2) .r {
            float: right; }
          #elm #content .shoppes .conts .descp p:nth-child(2) .r:nth-child(4) {
            width: 44px;
            height: 16px;
            margin: 0 10px 0 4px;
            line-height: 16px;
            text-align: center;
            background: #009cff;
            color: #fff;
            border-radius: 2px; }
          #elm #content .shoppes .conts .descp p:nth-child(2) .r:nth-child(5) {
            padding: 0 3px;
            height: 16px;
            line-height: 16px;
            border: .5px solid #009cff;
            border-radius: 2px;
            color: #009cff;
            text-align: center; }
        #elm #content .shoppes .conts .descp p:nth-child(3) {
          font-size: 10px;
          font-size: 1rem;
          color: #666; }
          #elm #content .shoppes .conts .descp p:nth-child(3) .l {
            border-right: 1px solid #ececec;
            padding-right: 3px; }
          #elm #content .shoppes .conts .descp p:nth-child(3) .r {
            float: right; }
          #elm #content .shoppes .conts .descp p:nth-child(3) .r:nth-child(4) {
            border-left: 1px solid #ececece;
            padding-left: 3px; }
          #elm #content .shoppes .conts .descp p:nth-child(3) .r:nth-child(5) {
            border-right: 1px solid #ececec;
            padding-right: 3px; }
      #elm #content .shoppes .conts .cheep {
        margin-left: 82px; }
        #elm #content .shoppes .conts .cheep ul {
          border-top: 1px dashed #ddd; }
          #elm #content .shoppes .conts .cheep ul li {
            font-size: 10px;
            font-size: 1rem;
            color: #666;
            padding-top: 7px; }
        #elm #content .shoppes .conts .cheep div {
          float: right;
          margin-top: 7px;
          font-size: 10px;
          font-size: 1rem;
          color: #999; }

/*# sourceMappingURL=shoppe.css.map */
