#elm{
    margin: 0 auto;
    #toper{
        height: 174px;
        background: url(../images/ygf.jpg) repeat-x;
        .title{
            height: 60px;
            line-height: 60px;
            div{
                height: 20px;
                float: right;
                font-size: 20px;
                font-size: 2rem;
                color: #fff;
                margin-right: 15px;
            }
            div:nth-child(1){
                float: left;
                margin-left: 20px;
            }
        }
        .logo{
            height: 70px;
            div:nth-child(1){
                float: left;
                width: 80px;
                height: 80px;
                border: 1px solid #fff;
                background: #fff;
                border-radius: 4px;
                margin-left: 15px;
                margin-right: 10px;
                box-shadow: 0 1px 1px 1px #ebebeb;
                img{
                    width: 80px;
                    height: 80px;
                }
            }
            div:nth-child(2){
                float: left;
                p{
                    margin-bottom: 5px;
                }
                p:nth-child(1){
                    font-size: 18px;
                    font-size: 1.8rem;
                    color: #fff;
                    font-weight: bold;
                }
                p:nth-child(2){
                    font-size: 10px;
                    font-size: 1rem;
                    color: #fff;
                    font-weight: lighter;
                }
                p:nth-child(3){
                    font-size: 10px;
                    font-size: 1rem;
                    color: #fff;
                    border: 1px solid #0198ff;
                    border-radius: 2px;
                    background: #0198ff;
                    width: 96px;
                    height: 15px;
                    line-height: 15px;
                    text-align: center;
                }
            }
        }
        .active{
            height: 44px;
            background: #fff;
            div{
                height: 27px;
                padding-top: 27px;
                margin-left: 16px;
                p:nth-child(1){
                    float: right;
                    margin-right: 15px;
                    font-size: 10px;
                    font-size: 1rem;
                    color: #bbb;
                }
                p:nth-child(2){
                    font-size: 11px;
                    font-size: 1.1rem;
                    color: #9b9b9b;
                }
            }
        }
    }
    
    #content{
        .contit{
            height: 42px;
            line-height: 42px;
            background: #fff;
            border-bottom: 1px solid #d2d2d2;
            p{
                float: left;
                font-size: 14px;
                font-size: 1.4rem;
                height: 40px;
            }
            p:nth-child(1){
                margin-left: 15px;
                margin-right: 20px;
                color: #2395ff;
                border-bottom: 2px solid #2395ff;
            }
        }
        .left{
            float: left;
            width: 70px;
            background: #f8f8f8;
            ul{
                li{
                    p{
                        width: 53px;
                        margin: 0 auto;
                        height: 49px;
                        line-height: 48px;
                        border-top: 1px solid #e8e8e8;
                        font-size: 11px;
                        font-size: 1.1rem;
                        color: #666;
                        padding: 0;
                    }
                }
                li:nth-child(1){
                    background: #fff;
                    p{
                        border-top: 0;
                        color: #000;
                        font-weight: bold;
                    }
                }
                li:nth-child(2){
                    p{
                        line-height: 24px;
                        padding: 0;
                    }
                }
            }
        }
        .right{
            float: left;
            background: #fff;
            .rmode{
                margin-left: 10px;
                .rtit{
                    height: 35px;
                    border-bottom: 1px solid #eee;
                    p{
                        padding-top: 15px;
                        font-size: 12px;
                        font-size: 1.2rem;
                        font-weight: bold;
                        color: #666;
                        span{
                            font-size: 10px;
                            font-size: 1rem;
                            color: #999;
                            font-weight: normal;
                            margin-left: 5px;
                        }
                    }
                }
                .rcont{
                    height: 106px;
                    border-bottom: 1px solid #eee;
                    margin-right: 10px;
                    img{
                        width: 80px;
                        height: 80px;
                        margin: 14px 10px 0 0;
                        float: left;
                    }
                    div{
                        float: left;
                        p{
                            margin-top: 7px;
                        }
                        p:nth-child(1){
                            margin-top: 16px;
                            font-size: 14px;
                            font-size: 1.4rem;
                            font-weight: bold;
                        }
                        p:nth-child(2){
                            font-size: 10px;
                            font-size: 1rem;
                            color: #666;
                        }
                        p:nth-child(3){
                            float: right;
                            font-size: 20px;
                            font-size: 2rem;
                        }
                        p:nth-child(4){
                            float: left;
                            height: 20px;
                            color: #ff5339;
                            padding-top: 6px;
                            span:nth-child(1){
                                font-size: 8px;
                                font-size: .8rem;
                            }
                            span:nth-child(2){
                                font-size: 14px;
                                font-size: 1.4rem;
                            }
                        }
                    }
                }
            }
        }
    }
    
    .footer{
        height: 78px;
        position: fixed;
        bottom: 0;
        .tips{
            height: 28px;
            background: rgba(255,250,216,.8);
            p{
                line-height: 28px;
                text-align: center;
                color: #666;
                font-size: 11px;
                font-size: 1.1rem;
            }
        }
//        .cart{
//            
//        }
        .sub{
            height: 50px;
            background: rgba(69,69,71,.9);
            button{
                float: right;
                width: 89px;
                height: 50px;
                background: #535356;
                color: #a9a9ab;
            }
            &>div{
                float: left;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                border: 5px solid #454547;
                margin: -12px 12px 0 12px;
//                .buyicon{
//                    
//                }
            }
            p{
                line-height: 50px;
                font-size: 13px;
                font-size: 1.3rem;
                color: #999;
            }
        }
    }
}