<link rel="stylesheet" href="./css/buy.css">
<script src="./js/buyjs.js"></script>

<div id="elm">
    <div id="toper">
        <div class="title">
            <div class="arrow">&larr;</div>
            <p>订单配送至</p>
        </div>
        <div class="addrs">
            <button>+ 添加收货地址</button>
        </div>
    </div>
    
    <div id="content">
        <div class="sendtime">
            <p>尽快送达【 预计 <span>20:03</span> 】</p>
            <p>蜂鸟快递</p>
        </div>
        <div class="show">
            <div>
               <div>
                    <h2>杨国福麻辣烫</h2>
               </div>
                <div>
                    您的主食点了吗？
                </div>
                <div>
                    <p class="s">￥20</p>
                    <p class="num s">x8</p>
                    <p class="z">闽南香肉</p>
                </div>
                <div>
                    <p class="s">￥0.08</p>
                    <p class="z">餐盒</p>
                </div>
                <div>
                    <p class="s">￥2</p>
                    <p class="z">配送费</p>
                </div>
                <div>
                    <p class="s">-￥5</p>
                    <p class="z"><span>减</span> 在线支付立减优惠</p>
                </div>
                <div>
                    <p>选择地址后使用红包</p>
                    <p>红包</p>
                </div>
            </div>
            <div>
                <p>小计<span>￥17.08</span></p>
                <p>优惠说明 ?</p>
            </div>
        </div>
        <div class="attach">
            <div>在线支付</div>
            <div>
                <div>0-0</div>
                <p>匿名购买&nbsp;<span>？</span></p>
            </div>
            <div>
                <div>></div>
                <p>偏好设置/餐具分数</p>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <button>去支付</button>
        <div class="money">
            <p>
                <span>￥17.08&nbsp;</span>
                <span>|&nbsp;已优惠&nbsp;￥5</span>
            </p>
        </div>
    </div>
</div>