<link rel="stylesheet" href="./css/index.css">
<link rel="stylesheet" href="./css/swiper.min.css">
<script src="./js/indexjs.js"></script>
<script src="./js/swiper.min.js"></script>

<div id="elm">
    <div id="toper">
        <div class="tips">
            <div>↑</div>
            <div>35°C</div>
            <p><span></span>江苏省南京市</p>
        </div>
        <div class="search">
            <p><span></span>搜索商家、商品名称</p>
        </div>
        <div class="list">
            <ul>
                <li>烤鸭</li>
                <li>炒面</li>
                <li>锅贴</li>
                <li>大促5折</li>
                <li>健身餐</li>
                <li>披萨</li>
                <li>馄饨</li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        <div>
            <img src="./images/half.jpg" alt="">
        </div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="pic">
                        <a href=""><img src="./images/ppt1.jpg" alt=""></a>
                        <p>美食</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt2.jpg" alt=""></a>
                        <p>甜品饮料</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt3.jpg" alt=""></a>
                        <p>商超便利</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt4.jpg" alt=""></a>
                        <p>预定早餐</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt5.jpg" alt=""></a>
                        <p>果蔬生鲜</p>
                    </div>
                    <div class="pic">
                        <a href="/shoppe"><img src="./images/ppt6.jpg" alt=""></a>
                        <p>新店特惠</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt7.jpg" alt=""></a>
                        <p>准时达</p>
                    </div>
                    <div class="pic">
                        <a href=""><img src="./images/ppt8.jpg" alt=""></a>
                        <p>晚餐</p>
                    </div>
                </div>
                
                <div class="swiper-slide">
                    <div class="pic">
                        <img src="./images/ppt1.jpg" alt="">
                        <p>美食</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt2.jpg" alt="">
                        <p>甜品饮料</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt3.jpg" alt="">
                        <p>商超便利</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt4.jpg" alt="">
                        <p>预定早餐</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt5.jpg" alt="">
                        <p>果蔬生鲜</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt6.jpg" alt="">
                        <p>新店特惠</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt7.jpg" alt="">
                        <p>准时达</p>
                    </div>
                    <div class="pic">
                        <img src="./images/ppt8.jpg" alt="">
                        <p>晚餐</p>
                    </div>
                </div>
            
            </div>
            <div class="swiper-pagination"></div>
        </div>
        
        <div id="adv">
            <div class="advert">
               
                <img src="./images/cheep.jpg" alt="" class="cheep">

                <div>
                    <div>
                       <div>
                           <p>9.9元限时抢</p>
                           <p>限量美味不等人</p>
                           <p><span>528人</span>正在抢 ></p>
                       </div>
                        <img src="./images/at1.jpg" alt="" class="at">
                    </div>
                    <div>
                       <div>
                           <p>热卖套餐</p>
                           <p>销量最高·好评最多</p>
                           <p>TOP 100 ></p>
                       </div>
                        <img src="./images/at2.jpg" alt="">
                    </div>
                </div>

                <div>
                    <div>
                        <div>
                            <h1>周末半价</h1>
                            <span>5折畅吃</span>
                        </div>
                        <img src="./images/ats.jpg" alt="" class="ats">
                    </div>
                    <div>
                        <div>
                            <h1>周六大牌日</h1>
                            <span>低至30减16</span>
                        </div>
                        <img src="./images/ats.jpg" alt="">
                    </div>
                    <div>
                        <div>
                            <h1>饿了就要吃</h1>
                            <span>满减20起</span>
                        </div>
                        <img src="./images/ats.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
        
        <div class="choice">
           <div>
               <h1>品质优选</h1>
               <p>更多 ></p>
           </div>
            <div class="chos">
                <img src="./images/kkl.jpg" alt="">
                <h2>口渴了</h2>
                <span>大牌精选</span>
            </div>
            <div class="chos">
                <img src="./images/kkl.jpg" alt="">
                <h2>口渴了</h2>
                <span>大牌精选</span>
            </div>
            <div class="chos">
                <img src="./images/kkl.jpg" alt="">
                <h2>口渴了</h2>
                <span>大牌精选</span>
            </div>
            <div class="chos">
                <img src="./images/kkl.jpg" alt="">
                <h2>口渴了</h2>
                <span>大牌精选</span>
            </div>
        </div>
        
        <div class="shoppe">
            <div>
                <h2>推荐商家</h2>
            </div>
            <div class="shoppes">
                <div class="logo">
                    <img src="./images/lxj.jpg" alt="">
                   <img src="./images/newshop.png" alt="">
                </div>
                <div class="conts">
                    <div class="descp">
                        <p>
                            <span>老乡鸡(南京绿地缤纷广场店)</span>
                            <span class="r">保</span>
                        </p>
                        <p>
                            <span class="stars"></span>
                            <span>4.6</span>
                            <span>月售227单</span>
                            <span class="r">蜂鸟专送</span>
                            <span class="r">准时达</span>
                        </p>
                        <p>
                            <span class="l">￥20起送</span>
                            <span class="l">配送费￥2</span>
                            <span>￥13/人</span>
                            <span class="r">3km</span>
                            <span class="r">30分钟</span>
                        </p>
                    </div>
                    <div class="cheep">
                        <div>
                            <span>4个活动</span>
                            <span>&#94;</span>
                        </div>
                        <ul>
                            <li><span>新</span>新用户下单立减21.0元</li>
                            <li><span>减</span>满30减5，满55减10</li>
                            <li><span>待</span>新店开业</li>
                            <li><span>赠</span>满45.0元赠送冰饮1份</li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="shoppes">
                <div class="logo">
                    <img src="./images/lxj.jpg" alt="">
                   <img src="./images/newshop.png" alt="">
                </div>
                <div class="conts">
                    <div class="descp">
                        <p>
                            <span>老乡鸡(南京绿地缤纷广场店)</span>
                            <span class="r">保</span>
                        </p>
                        <p>
                            <span class="stars"></span>
                            <span>4.6</span>
                            <span>月售227单</span>
                            <span class="r">蜂鸟专送</span>
                            <span class="r">准时达</span>
                        </p>
                        <p>
                            <span class="l">￥20起送</span>
                            <span class="l">配送费￥2</span>
                            <span>￥13/人</span>
                            <span class="r">3km</span>
                            <span class="r">30分钟</span>
                        </p>
                    </div>
                    <div class="cheep">
                        <div>
                            <span>4个活动</span>
                            <span>&#94;</span>
                        </div>
                        <ul>
                            <li><span>新</span>新用户下单立减21.0元</li>
                            <li><span>减</span>满30减5，满55减10</li>
                            <li><span>待</span>新店开业</li>
                            <li><span>赠</span>满45.0元赠送冰饮1份</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div id="pubbtm">
        <div class="pubmode">
            <div class="takeout">&#xe606;</div>
            <p class="tkp">外卖</p>
        </div>
        <div class="pubmode">
            <div class="discover">&#xe613;</div>
            <p>发现</p>
        </div>
        <div class="pubmode">
            <div class="order">&#xe60e;</div>
            <p>订单</p>
        </div>
        <div class="pubmode">
            <div class="me">&#xe603;</div>
            <p>我的</p>
        </div>
    </div>
</div>