<link rel="stylesheet" href="./css/login.css">
<script src="./js/loginjs.js"></script>

<div id="elm">
    <div id="header">
        <div class="title">
            <div class="arrow">&#xe60c;</div>
            <p>登录</p>
        </div>
        <div class="pwdLogin">
            <p>密码登录</p>
        </div>
    </div>
    
    <div id="content">
        <div class="phone">
            <input type="text" name="phone" value="" class="tel" placeholder="手机号" maxlength="13">
            <button class="get" disabled>获取验证码</button>
            <div class="pdel">&#xe63c;</div>
        </div>
        <div class="verify">
            <input type="text" name="verify" value="" class="vcode" placeholder="验证码">
            <div class="vdel">&#xe63c;</div>
        </div>
    </div>
    <div class="tips">
        <p>温馨提示：未注册饿了么账号的手机号，登录时将自动注册，且代表您已同意<a href="">《用户服务协议》</a></p>
    </div>
    <div class="sub">
        <button class="btn">登录</button>
    </div>
    <div class="notice">
        <p>没收到短信验证码？请尝试获取<a href="">语音验证码</a></p>
    </div>
    
    <div id="footer">
        <div class="third">
            <p>——&nbsp;&nbsp;第三方登录&nbsp;&nbsp;——</p>
        </div>
        <div class="links">
            <div class="icon">
                <div class="icons wx">&#xe81d;</div>
                <p>微信</p>
            </div>
            <div class="icon">
                <div class="icons qq">&#xe65d;</div>
                <p>QQ</p>
            </div>
            <div class="icon">
                <div class="icons wb">&#xe600;</div>
                <p>微博</p>
            </div>
            <div class="icon">
                <div class="icons tb">&#xe62e;</div>
                <p>淘宝</p>
            </div>
        </div>
    </div>
    
</div>