<link rel="stylesheet" href="./css/mine.css">
<script src="./js/minejs.js"></script>

<div id="elm">
    <div id="toper">
        <div class="title">
            <div class="my">
                <p>我的</p>
                <div class="setting">&#xe60a;</div>
                <div class="inform">&#xe602;</div>
            </div>
        </div>
    </div>
    <div id="header">
        <div class="login">
            <div class="avatar">
                <img src="./images/avatar.png" alt="">
            </div>
            <div class="loginnow">
                <p>立即登录</p>
                <p>登录后可享受更多特权</p>
            </div>
            <div class="arrow">&#xe614;</div>
        </div>
        <div class="asset">
            <div class="per">
                <div class="wallet">&#xe70e;</div>
                <p>钱包</p>
            </div>
            <div class="per cp">
                <div class="cheep">&#xe65e;</div>
                <p>优惠</p>
            </div>
            <div class="per">
                <div class="bonus">&#xe612;</div>
                <p>积分</p>
            </div>
        </div>
    </div>
    
    <div class="modeone">
        <div class="addr">
            <div class="addrs">&#xe601;</div>
            <p>收货地址</p>
        </div>
        <div class="store">
            <div class="stores">&#xe605;</div>
            <p>我的收藏</p>
        </div>
    </div>
    
    <div class="point">
        <div class="points">&#xe7c6;</div>
        <p>积分商城</p>
        <p>0元好物在这里</p>
    </div>
    
    <div class="modetwo">
        <div class="modes">
            <div class="service">&#xe604;</div>
            <p>服务中心</p>
        </div>
        <div class="modes">
            <div class="grade">&#xe60d;</div>
            <p>欢迎评分</p>
        </div>
        <div class="modes">
            <div class="join">&#xe63b;</div>
            <p>加盟合作</p>
        </div>
    </div>
    
    <!--应该是公共页面-->
    <div id="pubbtm">
        <div class="pubmode">
            <div class="takeout">&#xe606;</div>
            <p>外卖</p>
        </div>
        <div class="pubmode">
            <div class="discover">&#xe613;</div>
            <p>发现</p>
        </div>
        <div class="pubmode">
            <div class="order">&#xe60e;</div>
            <p>订单</p>
        </div>
        <div class="pubmode">
            <div class="me">&#xe603;</div>
            <p class="mep">我的</p>
        </div>
    </div>
</div>