<link rel="stylesheet" href="./css/order.css">
<script src="./js/orderjs.js"></script>


<div id="elm">
    <div id="toper">
        <div class="top">
            <div>耳机</div>
            <div>&larr;</div>
        </div>
    </div>
    <div id="title">
        <div class="logo"></div>
        <p><span>准时达订单 ！</span></p>
        <p>订单未准时送达，可获得赔付。</p>
        <h1>等待支付 ></h1>
        <p>逾期未支付，订单将自动取消</p>
        <div>
            <button>取消订单</button>
            <button>去支付(还剩14分30秒)</button>
        </div>
    </div>
    
    <div id="content">
        <div>
            <div>
                <span>></span>
                <img src="./images/logo.jpg" alt="">
                <h1>杨国福麻辣烫</h1>
            </div>
            <div>
                <div>
                    <span>闽南香肉</span>
                    <span class="r">￥22.5</span>
                    <span class="r mr">x9</span>
                </div>
                <div>
                    <span>餐盒</span>
                    <span class="r">￥0.09</span>
                </div>
                <div>
                    <span>配送费</span>
                    <span class="r">￥2</span>
                </div>
                <div>
                    <p><span>首</span>(不与其他活动同享)新用户立减</p>
                    <span class="r">- ￥21</span>
                </div>
            </div>
            <div class="call">
                <p class="r"><span>实付</span>￥3.59</p>
                <p><span></span>联系商家</p>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h1>配送信息</h1>
                </div>
                <div>
                    <span>送达时间</span>
                    <span class="r">尽快送达</span>
                </div>
                <div>
                    <p>收货地址<span class="r">幕府山东营区黄方村</span></p>
                    <span class="r">董(先生) 13400059267</span>
                </div>
                <div>
                    <span>配送方式</span>
                    <span class="r">蜂鸟专送</span>
                </div>
            </div>
        </div>
        <div>
            <div>
                <div>
                    <h1>订单信息</h1>
                </div>
                <div>
                    <span>订单号</span>
                    <span class="r b">&nbsp;复制</span>
                    <span class="r">3009 4849 1370 3530 682&nbsp;|</span>
                </div>
                <div>
                    <span>支付方式</span>
                    <span class="r">在线支付</span>
                </div>
                <div>
                    <span>下单时间</span>
                    <span class="r">2017-07-29 19:40</span>
                </div>
            </div>
        </div>
    </div>
</div>