<link rel="stylesheet" href="./css/pay.css">
<script src="./js/payjs.js"></script>

<div id="elm">
    <div id="toper">
        <div>&larr;</div>
        <h1>在线支付</h1>
    </div>
    <div class="top">
        <div>
            <p>支付剩余时间</p>
            <h1>14:48</h1>
        </div>
        <div>
            <span>杨国福麻辣烫外卖订单</span>
            <p><span>详情</span> ￥3.59</p>
        </div>
    </div>
    <div class="paymed">
        <p>选择支付方式</p>
    </div>
    <div id="content">
        <div>
            <div></div>
            <div>
                <p>支付宝</p>
                <span>支付宝新用户立减3元</span>
            </div>
            <div class="r"></div>
        </div>
        <div>
            <div></div>
            <p>银行卡支付</p>
            <div class="r"></div>
        </div>
        <div>
            <div></div>
            <p>微信支付</p>
            <div class="r"></div>
        </div>
        <div>
            <div></div>
            <p>QQ钱包</p>
            <div class="r"></div>
        </div>
    </div>
    
    <div id="subpay">
        <p>确认支付</p>
    </div>
</div>