<link rel="stylesheet" href="./css/shoppe.css">
<script src="./js/shoppejs.js"></script>


<div id="elm">
   
    <div id="toper">
       <div id="mask">
            
       </div>
        <div class="top">
            
        </div>
        <div class="title">
            <div class="arrow">&#xe60c;</div>
            <p>新店特惠</p>
            <div class="search"></div>
        </div>
        <div class="nav">
            <ul>
                <li class="sel">综合排序</li>
                <li>好评优先</li>
                <li>距离最近</li>
                <li>筛选</li>
            </ul>
        </div>
        <div class="cover">
            <ul>
               <li>综合排序<span>√</span></li>
               <li>销量最高</li>
               <li>起送价最低</li>
               <li>配送最快</li>
            </ul>
        </div>
        <div class="category">
            <ul>
                <li>简餐</li>
                <li>盖浇饭</li>
                <li>地方小吃</li>
                <li>包子粥店</li>
                <li>烧烤</li>
                <li>炸鸡炸串</li>
                <li>披萨意面</li>
                <li>米粉面馆</li>
                <li>麻辣烫</li>
                <li>生煎锅贴</li>
            </ul>
        </div>
    </div>
    
    <div id="content">
        <div class="shoppes">
            <div class="logo">
                <img src="./images/lxj.jpg" alt="">
               <img src="./images/newshop.png" alt="">
            </div>
            <div class="conts">
                <div class="descp">
                    <p>
                        <span>老乡鸡(南京绿地缤纷广场店)</span>
                        <span class="r">保</span>
                    </p>
                    <p>
                        <span class="stars"></span>
                        <span>4.6</span>
                        <span>月售227单</span>
                        <span class="r">蜂鸟专送</span>
                        <span class="r">准时达</span>
                    </p>
                    <p>
                        <span class="l">￥20起送</span>
                        <span class="l">配送费￥2</span>
                        <span>￥13/人</span>
                        <span class="r">3km</span>
                        <span class="r">30分钟</span>
                    </p>
                </div>
                <div class="cheep">
                    <div>
                        <span>4个活动</span>
                        <span>&#94;</span>
                    </div>
                    <ul>
                        <li><span>新</span>新用户下单立减21.0元</li>
                        <li><span>减</span>满30减5，满55减10</li>
                        <li><span>待</span>新店开业</li>
                        <li><span>赠</span>满45.0元赠送冰饮1份</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>