<link rel="stylesheet" href="./css/show.css">
<script src="./js/showjs.js"></script>

<div id="elm">
    <div id="toper">
        <div class="title">
            <div>&larr;</div>
            <div>设置</div>
            <div>购物车</div>
            <div>拼</div>
        </div>    
        <div class="logo">
            <div>
                <img src="./images/logo.jpg" alt="">
            </div>
            <div>
                <p>杨国福麻辣烫></p>
                <p>欢迎光临，用餐高峰期请提前下单，谢谢。</p>
                <p>蜂鸟专送·约25分钟</p>
            </div>
        </div>    
        <div class="active">
            <div>
                <p>3个活动
                    <span>&darr;</span>
                </p>
                <p>
                    <span>减</span>
                    满20减5，满30减7，满40减9
                </p>
            </div>
        </div>
    </div>
    
    <div id="content">
        <div class="contit">
            <p>商品</p>
            <p>评价4.5分</p>
        </div>
        <div class="left">
            <ul>
                <li><p><span>火</span>热销</p></li>
                <li><p>汤底(必点)!!</p></li>
                <li><p>蔬菜</p></li>
                <li><p>主食</p></li>
                <li><p>菌菇</p></li>
                <li><p>豆制品</p></li>
                <li><p>禽蛋</p></li>
            </ul>
        </div>
        <div class="right">
            <div class="rmode">
                <div class="rtit">
                    <p>热销<span>大家喜欢吃，才叫真好吃。</span></p>
                </div>
                <div class="rcont">
                    <img src="./images/dbc.jpg" alt="">
                    <div>
                        <p>娃娃菜</p>
                        <p>月售222份 好评率98%</p>
                        <p>+</p>
                        <p><span>￥</span><span>2</span></p>
                    </div>
                </div>
                <div class="rcont">
                    <img src="./images/dbc.jpg" alt="">
                    <div>
                        <p>娃娃菜</p>
                        <p>月售222份 好评率98%</p>
                        <p>+</p>
                        <p><span>￥</span><span>2</span></p>
                    </div>
                </div>
                <div class="rcont">
                    <img src="./images/dbc.jpg" alt="">
                    <div>
                        <p>娃娃菜</p>
                        <p>月售222份 好评率98%</p>
                        <p>+</p>
                        <p><span>￥</span><span>2</span></p>
                    </div>
                </div>
                <div class="rcont">
                    <img src="./images/dbc.jpg" alt="">
                    <div>
                        <p>娃娃菜</p>
                        <p>月售222份 好评率98%</p>
                        <p>+</p>
                        <p><span>￥</span><span>2</span></p>
                    </div>
                </div>
                <div class="rcont">
                    <img src="./images/dbc.jpg" alt="">
                    <div>
                        <p>娃娃菜</p>
                        <p>月售222份 好评率98%</p>
                        <p>+</p>
                        <p><span>￥</span><span>2</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="tips">
            <p>满20减5元，满30减7元，满40减9元</p>
        </div>
<!--
        <div class="cart">
            <div>
                <span> | 已选商品</span>
                <span>清空</span>
            </div>
            <div>
                <span>龙虾饭</span>
                <span>￥27.8</span>
                <div>
                    <span>-</span>
                    <span>1</span>
                    <span>+</span>
                </div>
            </div>
            <div>
                <span>餐盒</span>
                <span>￥1</span>
            </div>
            <div>商品如需分开打包，请使用多人订餐></div>
        </div>
-->
        <div class="sub">
            <button>￥20元&nbsp;起送</button>
                <div>
                    <div class="buyicon">图片</div>
                </div>
                <p>未选购商品</p>
        </div>
    </div>
</div>